[Unit]
Description=GreenPiThumb Backend Service

[Service]
ExecStart=/usr/bin/python \
  {{ greenpithumb_backend_path }}/greenpithumb/greenpithumb.py  \
{% if greenpithumb_backend_poll_interval %}
  --poll_interval={{ greenpithumb_backend_poll_interval }} \
{% endif %}
{% if greenpithumb_backend_photo_interval %}
  --photo_interval={{ greenpithumb_backend_photo_interval }} \
{% endif %}
{% if greenpithumb_backend_sleep_windows %}
  {% for sleep_window in greenpithumb_backend_sleep_windows %}
    --sleep_window={{ sleep_window }} \
  {% endfor %}
{% endif %}
{% if greenpithumb_images_path %}
  --image_path={{ greenpithumb_images_path }} \
{% endif %}
{% if greenpithumb_backend_db_file %}
  --db_file={{ greenpithumb_backend_db_file }} \
{% endif %}
{% if greenpithumb_backend_moisture_threshold %}
  --moisture_threshold={{ greenpithumb_backend_moisture_threshold }} \
{% endif %}
{% if greenpithumb_backend_camera_rotation %}
  --camera_rotation={{ greenpithumb_backend_camera_rotation }} \
{% endif %}
  --verbose
WorkingDirectory={{ greenpithumb_backend_path }}
User=root

[Install]
WantedBy=multi-user.target
