[Unit]
Description=GreenPiThumb Backend Service

[Service]
ExecStart=/usr/bin/python \
  {{ greenpithumb_backend_path }}/greenpithumb/greenpithumb.py  \
  --db_file {{ greenpithumb_data_path }}/greenpithumb.db \
  --poll_interval {{ 15 }} \
  --photo_interval {{ 4 * 60 }} \
  --image_path {{ greenpithumb_images_path }} \
  --verbose
WorkingDirectory={{ greenpithumb_backend_path }}
User=root

[Install]
WantedBy=multi-user.target
